<h1>Viewing category <%= @category.id %></h1>

<p>Category name: <%= @category.name %></p>

<p>Perhaps down here we list all the users with various rights to the category.</p>

<p>And then down here we could <a href='/categories/<%= @category.id %>/items' title='a category description could go here'>list all the open items</a>, or all items period, or links to history views on things that happened in the category.</p>
